<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="manipulation">

    <gazebo>
        <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
            <robot_param>robot_description</robot_param>
            <robot_param_node>robot_state_publisher</robot_param_node>
            <parameters>$(find manipulation_controller)/config/manipulation_controllers.yaml</parameters>
        </plugin>
    </gazebo>

    <gazebo reference="arm_base_link">
        <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="arm_link0_link">
        <material>Gazebo/DarkGrey</material>
    </gazebo>

    <gazebo reference="arm_link1_link">
        <material>Gazebo/DarkGrey</material>
    </gazebo>

    <gazebo reference="arm_link2_link">
        <material>Gazebo/Red</material>
    </gazebo>

    <gazebo reference="arm_link3_link">
        <material>Gazebo/Orange</material>
    </gazebo>

    <gazebo reference="arm_link4_link">
        <material>Gazebo/Orange</material>
    </gazebo>

    <gazebo reference="arm_link5_link">
        <material>Gazebo/DarkGrey</material>
    </gazebo>

    <gazebo reference="arm_link6_link">
        <material>Gazebo/DarkGrey</material>
    </gazebo>

    <gazebo reference="arm_gear1_link">
        <material>Gazebo/Red</material>
    </gazebo>

    <gazebo reference="arm_gear2_link">
        <material>Gazebo/Red</material>
    </gazebo>

    <gazebo reference="arm_pinza1_link">
        <material>Gazebo/Red</material>
    </gazebo>

    <gazebo reference="arm_pinza2_link">
        <material>Gazebo/Red</material>
    </gazebo>

    <gazebo reference="arm_pivot1_link">
        <material>Gazebo/Red</material>
    </gazebo>

    <gazebo reference="arm_pivot2_link">
        <material>Gazebo/Red</material>
    </gazebo>

</robot>